html {
    background-color: #121212;
    font-family: "Helvetica";
    color: white;  
    margin: auto;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    transition: 0s linear;
}

body {
    perspective: 1px;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll; 
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vw;
    padding: 20vw 0 135vw 0;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header, header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(../images/pexels-kasuma-1785493.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    transition: 0s linear;
    transition-property: background-position;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0;
}

.projects {
    background-color: #24305e;
    padding: 20rem 0 15rem 0;
    position: relative;
}

h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: calc(5vw + 5vh + 2vmin);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: calc(1vw + 1vh + 2vmin);
    font-weight: 400;
}

h4 {
    font-size: calc(1vw + 1vh + 2vmin);
}

h5 {
    font-size: calc(2vw + 2vh + 2vmin);
}

.period {
    font-size: calc(2.5vw + 2.5vh + 2vmin);
}

.custom-shape-divider-top-1628211038 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628211038 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: calc(2vw + 2vh + 2vmin);
}

.custom-shape-divider-top-1628211038 .shape-fill {
    fill: #F76C6C;
}

.custom-shape-divider-top-1628211004 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628211004 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: calc(2vw + 2vh + 2vmin);
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1628211004 .shape-fill {
    fill: #24305E;
}

.heading-underline {
    width: 4rem;
    height: 0.25rem;
    background-color: white;
    margin: 1rem auto;
}

.spacing {
    margin: 0 0 3rem 0;
}

.big-spacing {
    margin: 0 0 75vw 0;
}

.contact-me {
    background-color: #d68bc9;
    padding: 20rem 0 8rem 0;
    position: relative;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    overflow-wrap: break-word;
}

a {
    color:white;
    text-underline-offset: 0.25rem;
}

@media(hover: hover) {
    .link:hover {
        color: #24305e;
    }
}

@media(hover: none) {
    .link:active {
        color: #24305e;
    }
}

.collapsible-link {
    text-decoration: none;
}

footer {
    padding: 5% 0;
    background-color: #d68bc9;
}


@media (min-width: 813px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}

@media (max-width: 812px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.project {
    flex: 1 1;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    margin: 1rem;
    box-sizing: border-box;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 1rem;
    border-color: white;
    opacity: 0.75;
    cursor: pointer;
    color: white;
    text-align: left;
    min-width: 20rem;
}

.collapsible {
    color: white;
}

@media(hover: hover) {
    .project:hover {
        background-color: #374785;
        opacity: 1;
        padding: 1.75rem 1.5rem 1.75rem 1.5rem;
    }

    .project:hover h3 {
        opacity: 1;
    }
}

@media(hover: none) {
    .project:active {
        background-color: #374785;
        opacity: 1;
        padding: 1.75rem 1.5rem 1.75rem 1.5rem;
    }

    .project:active h3 {
        opacity: 1;
    }
}

.text {
    text-align: center;
    margin: 0 5%;
}

.fade {
    transition: opacity 0.7s ease-in;
}
  
.fadeOut { 
    opacity: 0; 
}
.fadeIn { 
    opacity: 1; 
}