:root {
    --clr-red: #f76c6c;
    --clr-navy: #24305e;
    --clr-pink: #ffb6c1;
    --clr-black: #121212;
    --clr-white: #fff;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.5;
    color: var(--clr-white);
    margin: auto;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 1rem;
}

h2,
h3,
p {
    margin-bottom: 1rem;
}

h1 {
    font-size: calc(5vw + 5vh + 2vmin);
}

h2 {
    font-size: calc(3vw + 3vh + 2vmin);
}

.heading-underline {
    width: 10%;
    height: 0.25rem;
    background-color: white;
    margin: 1rem auto;
}

.text-center {
    text-align: center;
}

header {
    height: 100vh;
}

section {
    height: 50rem;
    padding: 10rem 0;
}

.projects {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

@media (min-width: 40rem) {
    header, section {
        padding: 7rem 0;
    }
}

.container {
    margin-inline: auto;
}


.projects-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.projects-container .card {
    position: relative;
    width: 320px;
    height: 520px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.projects-container .card .content {
   padding: 20px;
   text-align: center;
   transform: translateY(50px);
   opacity: 0.5;
   transition: 0.5s;
}

@media(hover: hover) {
    .projects-container .card:hover .content {
        transform: translateY(0px);
        opacity: 1;
    }
}


@media(hover: none) {
    .projects-container .card .content {
        transform: translateY(0px);
        opacity: 1;
    }
}
 
.projects-container .card .content h2 {
    font-family: "Poppins";
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.projects-container .card .content h3 {
    font-family: "Poppins";
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    line-height: 1.2;
}

.projects-container .card .content p {
    font-size: 1.1rem;
    color: #fff;
    z-index: 1;
    text-align: left;
    text-align: center;
}

.projects-container .card .content a {
    font-family: "Poppins";
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 2rem;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}

a {
    color:white;
    text-underline-offset: 0.25rem;
}

@media(hover: hover) {
    .link:hover {
        transition: font-size 0.1s;
        font-size: 1.4rem;
    }
}

@media(hover: none) {
    .link:active {
        transition: font-size 0.1s;
        font-size: 1.4rem;
    }
}

.bg-black {
    background: var(--clr-black);
}

.bg-pink {
    background: var(--clr-pink);
}

@media (min-width: 813px) {
    .bg-mountains {
        background: url(../images/pexels-cmonphotography-1809644.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
        width: 100%;
    }

    .bg-clouds {
        background: url(../images/pexels-jakub-novacek-924824.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #121212;
        width: 100%;
    }
}

@media (max-width: 812px) {
    .bg-mountains {
        background-color: #24305e;
        width: 100%;
    }

    .bg-clouds {
        background: url(../images/pexels-scott-webb-1931155.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.header-spacing {
    padding: 10vh 0;
}

.spacing {
    padding: 5rem 0;
}

.fade {
    transition: opacity 0.7s ease-in;
}
  
.fadeOut { 
    opacity: 0; 
}

.fadeIn { 
    opacity: 1; 
}

.contact-me {
    position: relative;
    padding: 0 0 5rem 0;
}

.text {
    font-family: var(--ff-primary);
    font-size: 1rem;
    padding: 0 5%;
}

.footer {
    font-family: var(--ff-primary);
    font-size: 0.75rem;
    padding: 0 5%;
}